<nb-card status="info" >
  <nb-card-header style='font-size: 25px'>Detail Data HSPK</nb-card-header>

  <nb-card-body><b style='font-size: 19px'>
     <br>
  	Kode : {{Kode}} <br><br>
  	Nama : {{Nama}} <br><br>
  	Satuan : {{Satuan}}<br><br>
    HargaSatuan : {{total}}<br><br>
    Profit (%) : {{pro}} <br><br>
    Harga Total : {{subtotal}}</b><br><br>
<br><br>
    <nb-accordion>
 <nb-accordion-item>
  <nb-accordion-item-header>
   
    Bahan
  </nb-accordion-item-header>
  <nb-accordion-item-body *ngFor="let ssh of datassh" >
    <b>Komponen : {{ssh.nama}}<br>
    Satuan : {{ssh.satuan}}<br>
    Harga Satuan : {{ssh.harga_final}}<br>
    Jumlah  : {{ssh.jumlah}}<br>
    Harga Total : {{ssh.ssh_id}}</b>
  </nb-accordion-item-body>
  <nb-accordion-item-body>
    <b>Total Harga Bahan : {{totalssh}}</b> <br>
  </nb-accordion-item-body>
 </nb-accordion-item>
</nb-accordion>

<nb-accordion>
 <nb-accordion-item>
  <nb-accordion-item-header>Tenaga Kerja</nb-accordion-item-header>
  <nb-accordion-item-body *ngFor="let sbu of datasbu">
    <b>Komponen : {{sbu.nama}}<br>
    Satuan : {{sbu.satuan}}<br>
    Harga Satuan  : {{sbu.harga_final}}<br>
    Jumlah  : {{sbu.jumlah}}<br>
    Harga Total : {{sbu.sbu_id}}</b>
  </nb-accordion-item-body>
  <nb-accordion-item-body>
    <b>Total Harga Tenaga Kerja : {{totalsbu}} </b><br>
    
  </nb-accordion-item-body>
 </nb-accordion-item>
</nb-accordion>

<nb-accordion>
 <nb-accordion-item>
  <nb-accordion-item-header>Total Harga</nb-accordion-item-header>
  
<nb-accordion-item-body>
    <b>Total : {{total}} <br>
    profit : {{profit}}<br>
    Sub Total : {{subtotal}}</b><br>
  </nb-accordion-item-body>

 </nb-accordion-item>
</nb-accordion>
  </nb-card-body>

</nb-card>

<button nbButton status="success" routerLink="/hspk/update/{{idparam}}" style="width: 100px; margin-left: 70px;">Edit</button> &nbsp;  
<button nbButton status="warning" routerLink="/hspk">Cancel</button>








