<nb-card size="giant">
      <nb-card-header>
       <input  type="text" nbInput placeholder="Search" style="width: 300px; margin-left: 20px">
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let hspk of datas">
          	<b style="font-size: 19px">{{hspk.nama}}</b>
    		<br>
    		Kode : {{hspk.kode}}<br>
		    Satuan : {{hspk.satuan}}<br>
		    Harga Satuan : {{hspk.harga_total}}<br>
		    Jumlah : <input  type="number" nbInput placeholder="qty" (input)='inputJumlahHSPK($event)'  style="width: 65px;" ><br><br>
		    <button nbButton size="small" status="info" (click)='pilihHSPK(hspk.id)'>pilih</button>&nbsp;
        </nb-list-item>
      </nb-list>
    </nb-card>

<button nbButton status="primary" (click)=postAsbHspk() routerLink="/hspk/update/{{idparam}}" style="width: 100px">Save</button> &nbsp;  
<button nbButton status="warning" routerLink="/hspk">Cancel</button>
