<nb-card status="info" style='text-align: center'>
  <nb-card-header>ASB</nb-card-header>
  <nb-card-body>
  <input type="text" placeholder="Cari Data" nbInput (input)='search($event)' style="width: 500px;"><br><br>
  </nb-card-body>  
</nb-card>
<button nbButton status="primary" *ngIf='hak' routerLink="/asb/create"><nb-icon icon="plus"> </nb-icon>Tambah Data</button><br>
<nb-card status="success" *ngFor="let data of datas">
  <nb-card-header>{{data.nama}}</nb-card-header>
  <nb-card-body>
  	Kode : {{data.kode}} <br>
  	Nama : {{data.nama}} <br>
  	Satuan : {{data.satuan}}<br> 
  </nb-card-body>
  <nb-card-footer>
	<button nbButton size="small" status="primary" routerLink="/asb/detail/{{data.id}}"><nb-icon icon="list"></nb-icon></button>&nbsp; 
	<button nbButton size="small" *ngIf='hak' status="success"  routerLink="/asb/update/{{data.id}}"><nb-icon icon="edit"></nb-icon></button>&nbsp; 
	<button nbButton size="small" *ngIf='hak' status="danger" (click)="DeleteAsb(data.id)"><nb-icon icon="trash"></nb-icon></button>&nbsp; 
  </nb-card-footer>
</nb-card>
