 <nb-card status="info">
 	  <nb-card-header>Update HSPK</nb-card-header>
      <nb-card-body class="example-items-rows">
        Kode : <input  type="text" nbInput placeholder="Cth: 01.01.01" (input)='inputKode($event)' value="{{kode}}"><br><br>
        Nama : <input type="text" nbInput (input)='inputNama($event)' value="{{nama}}"><br><br>
        Satuan : <input type="text" nbInput (input)='inputSatuan($event)' value="{{satuan}}"><br><br>
        Profit : <input type="text" nbInput (input)='inputProfit($event)' value="{{pro}}"><br><br>    
        Tag Pencarian : <input type="text" nbInput placeholder="Cth: alat tulis, kantor, rapat, dll" (input)='inputTag($event)' value="{{tag}}"><br><br>
      </nb-card-body>
 </nb-card>


<nb-accordion >
 <nb-accordion-item>
  <nb-accordion-item-header status="info">         
    Bahan
  </nb-accordion-item-header>
  <nb-accordion-item-body>
    <button nbButton size="small" status="primary" routerLink="/hspk/ssh/{{idparam}}"><nb-icon icon="plus"></nb-icon> Tambah Komponen Bahan</button>
  </nb-accordion-item-body>
  
 <nb-accordion-item-body style="border-bottom: 1px solid grey" *ngFor="let ssh of datassh; let i = index">
    		<b style="font-size: 19px">{{ssh.nama}}</b>
    		<br>
    		Kode : {{ssh.kode}}<br>
		    Satuan : {{ssh.satuan}}<br>
		    Harga Satuan : {{ssh.harga_final}}<br>
		    Jumlah : <input  type="number" nbInput placeholder="qty" (input)='inputJumlahSSH($event)'  style="width: 65px;" value="{{ssh.jumlah}}"><br><br>
		    <button nbButton size="small" status="info" (click)='pilihSSH(ssh.id)'>Save</button>&nbsp;
		    <button nbButton size="small" status="danger"><nb-icon icon="trash"></nb-icon></button>
 </nb-accordion-item-body>
 </nb-accordion-item>
</nb-accordion>
<br><br>


<nb-accordion >
 <nb-accordion-item>
  <nb-accordion-item-header status="info">Pekerja</nb-accordion-item-header>
  <nb-accordion-item-body>
    <button nbButton size="small" status="primary" routerLink="/hspk/sbu/{{idparam}}"><nb-icon icon="plus"></nb-icon> Tambah Komponen Pekerja</button>
  </nb-accordion-item-body>
  
 <nb-accordion-item-body style="border-bottom: 1px solid grey" *ngFor="let sbu of datasbu">
    		<b style="font-size: 19px">{{sbu.nama}}</b>
    		<br>
    		Kode : {{sbu.kode}}<br>
		    Satuan : {{sbu.satuan}}<br>
		    Harga Satuan : {{sbu.harga_final}}<br>
		    Jumlah : <input  type="number" nbInput placeholder="qty"  (input)='inputJumlahSBU($event)'  style="width: 65px;" value="{{sbu.jumlah}}"><br><br>
		    <button nbButton size="small" status="info" (click)='pilihSBU(sbu.id)'>Save</button>&nbsp;
		    <button nbButton size="small" status="danger"><nb-icon icon="trash"></nb-icon></button> 
 </nb-accordion-item-body>
 </nb-accordion-item>
</nb-accordion>

<br><br>

<button nbButton status="primary" (click)=updateHspk() routerLink="/hspk" style="width: 100px">Save</button> &nbsp;  
<button nbButton status="warning" routerLink="/hspk">Cancel</button>

 

